<ol class="presenters">
<% presenters.forEach(function( presenter ){ %>
	<li class="<%= presenter.github %>">
		<a href="https://github.com/<%= presenter.github %>/">
			<img src="<%= presenter.avatar_url %>" alt="<%= presenter.name %>">
			<span class="name"><%= presenter.name %></span>
		</a>
		<a href="https://github.com/<%= presenter.github %>/"><i class="foundicon-github"></i></a>
		<a href="https://twitter.com/<%= presenter.twitter %>/"><i class="foundicon-twitter"></i></a>
<% if( presenter.blog ) { %>
		<a href="<%= presenter.blog %>">Blog</a>
<% } %>
	</li>
<% }) %>
</ol>