---
import { getEntry } from 'astro:content';

interface Props {
	presenter: string;
}

const presenter = (await getEntry('presenters', Astro.props.presenter)).data;
const { github, name, avatar_url, twitter, blog, count, id } = presenter;
const className = `${id} ${count ? `count-${count}` : ''}`;
const githubUrl = github ? `https://github.com/${github}/` : undefined;
---

<li class={className}>
	<a href={githubUrl}>
		<img src={avatar_url} alt={name} />
		<span class="name">{name}</span>
	</a>
	{
		github && (
			<a href={githubUrl}>
				<i class="foundicon-github" />
			</a>
		)
	}
	{
		twitter && (
			<a href={`https://twitter.com/${twitter}/`}>
				<i class="foundicon-twitter" />
			</a>
		)
	}
	{blog && <a href={blog}>Blog</a>}
</li>
