---
import { getCollection } from 'astro:content';

const postsCollection = await getCollection('posts');
const presenters = await getCollection('presenters');

const posts = postsCollection.map(({ slug, data }) => {
	const { author: authorID } = data;
	const author = presenters.find(({ data }) => data.id === authorID)?.data;
	return {
		...data,
		author,
		slug,
	};
});
---

<ul class="posts">
	{
		posts.map(post => (
			<li>
				<a href={post.slug} class={post.bigtitle ? 'posts-bigtitle' : undefined}>
					<span class={`avatar${(post?.author?.count ?? 0 > 1) ? ` avatar-count-${post?.author?.count}` : ''}`}>
						{post?.author?.avatar_url && <img src={post.author.avatar_url} alt={post.author.name} />}
					</span>
					{post.title}
				</a>
				{post.videolength && <span class="videolength">{post.videolength}</span>}
			</li>
		))
	}
</ul>
