<ol class="presenters">
<% presenters.forEach(function( presenter ){ %>
	<li class="<%= presenter.username %> count-<%= presenter.count %>">
<% if( presenter.github ) { %>
		<a href="https://github.com/<%= presenter.github %>/">
<% } else { %>
		<a>
<% } %>
			<img src="<%- presenter.avatar_url %>" alt="<%= presenter.name %>">
			<span class="name"><%= presenter.name %></span>
		</a>
<% if( presenter.github ) { %>
		<a href="https://github.com/<%= presenter.github %>/"><i class="foundicon-github"></i></a>
<% } %>
<% if( presenter.twitter ) { %>
		<a href="https://twitter.com/<%= presenter.twitter %>/"><i class="foundicon-twitter"></i></a>
<% } %>
<% if( presenter.blog ) { %>
		<a href="<%= presenter.blog %>">Blog</a>
<% } %>
	</li>
<% }) %>
</ol>